<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{32}:%line -&gt; %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN" />
    <logger name="demo.rpc" level="DEBUG" />

    <root level="ERROR">
        <appender-ref ref="Console" />
    </root>

</configuration>
